:host {
  .translations-page-container {
    display: flex;
    flex-direction: column;
    gap: var(--echo-theme-spacing-lg);

    & .translations {
      display: flex;
      flex-direction: column;
      gap: var(--echo-theme-spacing-md);

      & .hide {
        visibility: hidden;
        pointer-events: none;
      }

      &__checkbox {
        color: var(--echo-theme-colors-textSecondary);
      }

      &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
          display: flex;
          align-items: center;
          gap: var(--echo-theme-spacing-xl);

          &__search-input {
            position: relative;
            width: 350px;
          }

          &__by {
            display: flex;
            align-items: center;
            gap: var(--echo-theme-spacing-md);
          }
        }

        &__right {
          &__sort-icon {
            cursor: pointer;
          }
        }
      }

      &__body {
        & table,
        & th,
        & td {
          border: none;
        }

        & table {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        & th {
          text-align: left;
        }

        & .thead {
          & .tr {
            display: grid;
            grid-template-columns: max-content 1fr 1fr max-content max-content max-content;
            align-items: center;
            column-gap: var(--echo-theme-spacing-xl);
            padding-right: var(--echo-theme-spacing-xl);

            &__title {
              span {
                border-bottom: 1px solid var(--echo-theme-colors-textSecondary);
              }
            }
          }
        }

        & .tbody {
          display: grid;
          grid-template-columns: max-content 1fr max-content max-content max-content max-content;
          align-items: center;
          column-gap: var(--echo-theme-spacing-xl);

          & .tr {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            gap: var(--echo-theme-spacing-lg);
          }
        }

        & .td {
          &__content {
            display: grid;
            align-items: center;
            grid-template-columns: max-content 1fr;
            column-gap: var(--echo-theme-spacing-md);

            &__text {
              overflow: hidden;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 100%;
              white-space: nowrap;

              & a {
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      &__footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &__paginator {
          display: flex;
          align-items: center;
          gap: var(--echo-theme-spacing-md);

          button {
            all: unset;
          }
        }
      }
    }
  }
}
