nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  border-bottom: var(--echo-theme-colors-textSecondary) solid 1px;
  align-items: center;

  padding: var(--echo-theme-spacing-paddingMd)
    var(--echo-theme-spacing-paddingMd);

  & .left {
    & a {
      text-decoration: none;
    }
  }

  & .right {
    & ul {
      all: unset;
      list-style-type: none;
      gap: var(--echo-theme-spacing-md);
      display: flex;
      flex-direction: row;
    }
  }
}
