.text-directive {
  &__paragraph {
    font-size: var(--lokey-theme-typography-bodySize);
    line-height: 19px;
    color: var(--lokey-theme-colors-textPrimary);
  }

  &__paragraph-bold {
    font-weight: 700;
    font-size: var(--lokey-theme-typography-bodySize);
    line-height: 20px;
    color: var(--lokey-theme-colors-textPrimary);
  }

  &__info {
    font-size: var(--lokey-theme-typography-captionSize);
    line-height: 19px;
    color: var(--lokey-theme-colors-textSecondary);
  }

  &__info-sm {
    font-size: var(--lokey-theme-typography-captionSize);
    line-height: 19px;
    color: var(--lokey-theme-colors-textSecondary);
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: var(--lokey-theme-colors-textPrimary);
    text-transform: uppercase;
  }

  &__title-sm {
    font-size: var(--lokey-theme-typography-captionSize);
    line-height: 14px;
    letter-spacing: 0.1em;
    color: var(--lokey-theme-colors-textSecondary);
  }
}
