.button-directive {
  &__default {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--lokey-theme-colors-white);
    border-radius: 5px;

    border: solid var(--lokey-theme-borderWidth-thin)
      var(--lokey-theme-colors-border);
    box-shadow: var(--lokey-theme-shadows-subtle);

    color: var(--lokey-theme-colors-primary);
    text-transform: uppercase;

    height: 24px;
    width: 100%;

    text-align: center;
    cursor: pointer;

    padding: 0 24px;

    &:focus {
      outline: revert;
    }

    &:hover {
      box-shadow: var(--lokey-theme-shadows-shadowHover);
    }

    &:active {
      box-shadow: var(--lokey-theme-shadows-shadowActive);
    }

    transition: all 300ms ease-out;

    &:disabled {
      background-color: var(--lokey-theme-colors-lightGrey2);
      box-shadow: none; /* Remove shadow for a flat look */
      color: var(
        --lokey-theme-colors-textSecondaryLight
      ); /* Muted text color */
      cursor: not-allowed; /* Indicate it’s non-interactive */
      transition: none; /* No animations */
      opacity: 0.6; /* Slightly faded appearance */
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--lokey-theme-colors-secondary);
    border-radius: 5px;

    color: var(--lokey-theme-colors-white);
    text-transform: uppercase;

    height: 44px;
    width: 100%;

    text-align: center;
    cursor: pointer;

    &:focus {
      outline: revert;
    }

    &:hover {
      box-shadow: var(--lokey-theme-shadows-shadowHover);
    }

    &:active {
      box-shadow: var(--lokey-theme-shadows-shadowActive);
    }

    transition: all 300ms ease-out;
  }
}
