:host {
  display: flex;
  flex-direction: column;
  gap: var(--lokey-theme-spacing-md);

  .main {
    &__container {
      max-width: 1250px;
      margin: 0 auto;

      padding: var(--lokey-theme-spacing-paddingMd);
    }
  }
}
