@if (!loading() && fileSelectorForm.get('file')) {
<div class="translate">
  <div class="translate__page-title">
    <h1 appText [variant]="'title'" class="translate__page-title__text">
      {{ key() }}
    </h1>
  </div>

  <div class="translate__main" [formGroup]="form">
    <div class="translate__main__default-file">
      <div class="translate__main__default-file__placeholder">
        <span appText [variant]="'info'">{{ defaultFile() }} </span>
      </div>

      <textarea
        appText
        [placeholder]="defaultFile()"
        class="textarea"
        [formControlName]="defaultFile()"
      ></textarea>
      @if (defaultFileState() === 'current') {
      <app-label
        class="translate__main__default-file__status"
        [status]="'current'"
      ></app-label>
      } @else if (defaultFileState() === 'changed') {
      <app-label
        class="translate__main__default-file__status"
        [status]="'changed'"
      ></app-label>
      } @else if (defaultFileState() === 'updated') {
      <app-label
        class="translate__main__default-file__status"
        [status]="'updated'"
      ></app-label>
      }
      <div class="translate__main__default-file__cta">
        <button
          appNotificationLabel
          [notifyLabelText]="'Success!'"
          [disabled]="defaultFileState() !== 'changed'"
          appButton
          [variant]="'default'"
          (click)="undoChange(defaultFile())"
        >
          <b>Undo</b>
        </button>
        <button
          appNotificationLabel
          [notifyLabelText]="'Success!'"
          [disabled]="defaultFileState() !== 'changed'"
          appButton
          [variant]="'default'"
          (click)="confirmChange(defaultFile())"
        >
          <b>Confirm</b>
        </button>
      </div>

      <div class="translate__main__default-file__context">
        <!-- <textarea
          appText
          name=""
          class="textarea"
          formControlName="translation-context"
        ></textarea> -->
      </div>
    </div>
    <button class="translate__main__delete-button">
      <app-svg-icon
        [iconName]="'trash'"
        (click)="showDeleteModal.set(true)"
      ></app-svg-icon>
    </button>
    <div class="translate__main__selected-file">
      <label
        class="translate__main__selected-file__selector"
        [formGroup]="fileSelectorForm"
      >
        <span appText [variant]="'info'">File: </span>

        <select appTextInput [variant]="'xs'" formControlName="file">
          @for (file of filesExcludingDefault(); track $index) {
          <option [value]="file">
            {{ file }}
          </option>
          }
        </select>
      </label>

      @for (file of filesExcludingDefault(); track $index) { @if (file ===
      fileSelectorForm.get('file')?.getRawValue()) {
      <textarea
        appText
        name=""
        class="textarea"
        [formControlName]="file"
      ></textarea>
      } } @if (selectedFileState() === 'current') {
      <app-label
        class="translate__main__selected-file__status"
        [status]="'current'"
      ></app-label>
      } @else if (selectedFileState() === 'changed') {
      <app-label
        class="translate__main__selected-file__status"
        [status]="'changed'"
      ></app-label>
      } @else if (selectedFileState() === 'updated') {
      <app-label
        class="translate__main__selected-file__status"
        [status]="'updated'"
      ></app-label>
      }

      <div class="translate__main__selected-file__cta">
        <button
          [disabled]="selectedFileState() !== 'changed'"
          appButton
          [variant]="'default'"
          (click)="undoChange(selectedFileName)"
        >
          <b>Undo</b>
        </button>
        <button
          [disabled]="selectedFileState() !== 'changed'"
          appButton
          [variant]="'default'"
          (click)="confirmChange(selectedFileName)"
        >
          <b>Confirm</b>
        </button>
      </div>

      <div class="translate__main__selected-file__ai__container">
        <button
          id="show-ai-textarea"
          appButton
          [variant]="'default'"
          (click)="showAITranslationInput.set(!showAITranslationInput())"
          [class.translate__main__selected-file__ai__container__btn]="
            showAITranslationInput()
          "
        >
          <span>
            AI translate
            <b>{{filesService.translations()?.[defaultFile()]?.[
            '_lokey_metadata.language'
          ]}}</b>
            to
            <b>{{filesService.translations()?.[this.selectedFileName]?.[
              '_lokey_metadata.language'
            ]}}</b></span
          >
        </button>
        @for (file of filesExcludingDefault(); track $index) { @if (file ===
        fileSelectorForm.get('file')?.getRawValue()) {
        <textarea
          appText
          [class.textarea--closed]="!showAITranslationInput()"
          [class.textarea--ai-opened]="showAITranslationInput()"
          class="textarea"
          [formControlName]="file + 'ai'"
          [disabled]="
            !showAITranslationInput() || this.isGenerationAITranslation()
          "
        ></textarea>

        <div class="translate__main__selected-file__cta">
          <button
            appButton
            [variant]="'default'"
            (click)="generateAITranslation(file)"
            [isLoading]="this.isGenerationAITranslation()"
          >
            <b>Generate</b>
          </button>
          <button
            [disabled]="!formSignal()?.[file + 'ai'] || formSignal()?.[file] === formSignal()?.[file + 'ai']"
            appButton
            [variant]="'default'"
            (click)="applyAITranslation(file)"
          >
            <b>Apply</b>
          </button>
        </div>
        } }
      </div>
    </div>
  </div>

  @if (showDeleteModal()) {
  <app-modal (closeModal)="showDeleteModal.set(false)">
    <div class="translate__delete-modal">
      <div class="translate__delete-modal__body">
        <h1 appText [variant]="'title'">Delete key</h1>

        <div class="translate__delete-modal__body__text-contianer"></div>
        <p
          appText
          [variant]="'paragraph'"
          class="translate__delete-modal__body__text-container__text"
        >
          The key <b>{{ key() }}</b> will be deleted from all files.
        </p>

        <p><b>ARE YOU SURE?</b></p>
      </div>
      <div class="translate__delete-modal__cta">
        <button
          appButton
          [variant]="'default'"
          (click)="showDeleteModal.set(false)"
        >
          <b>No</b>
        </button>
        <button
          appButton
          [variant]="'default'"
          (click)="deleteSelectedKey(); showDeleteModal.set(false)"
        >
          <b>Yes</b>
        </button>
      </div>
    </div>
  </app-modal>
  }
</div>
}
