:host {
  display: flex;
  flex-direction: column;
  gap: var(--echo-theme-spacing-lg);

  & .translate {
    display: flex;
    flex-direction: column;
    gap: var(--echo-theme-spacing-xl);

    & .hide {
      visibility: hidden;
      pointer-events: none;
    }

    &__checkbox {
      color: var(--echo-theme-colors-textSecondary);
      cursor: pointer;
    }

    &__page-title {
      padding: 0 var(--echo-theme-borderRadius-medium);

      &__text {
        text-transform: unset;
      }
    }

    &__main {
      display: grid;
      align-items: flex-start;
      grid-template-columns: 1fr max-content 1fr;
      gap: var(--echo-theme-spacing-xxl);

      & ::ng-deep .text-input-directive__default__wrapper {
        max-width: unset;

        & #textarea {
          width: 100%;
          max-width: 100%;
          min-width: 400px;
          min-height: 220px;
          max-height: 500px;
          padding-top: var(--echo-theme-spacing-lgSpacing);
          transition: all 300ms ease;
        }

        #textarea.translate__main__selected-file__closed-textarea {
          min-height: unset;
          padding-top: unset;
          height: 44px;
        }

        #textarea.translate__main__selected-file__opened-textarea {
          padding-top: 52px;
        }
      }

      &__default-file {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--echo-theme-spacing-lg);

        &__status {
          position: absolute;
          top: var(--echo-theme-spacing-sm);
          right: var(--echo-theme-spacing-sm);
        }

        &__cta {
          display: flex;
          justify-content: flex-end;
          gap: var(--echo-theme-spacing-lg);

          & button {
            max-width: 180px;
            height: 36px;
          }
        }
      }

      &__delete-button {
        all: unset;
      }

      &__selected-file {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--echo-theme-spacing-lg);

        &__selector {
          position: absolute;
          top: var(--echo-theme-spacing-sm);
          left: var(--echo-theme-spacing-sm);

          display: flex;
          align-items: center;
          gap: var(--echo-theme-spacing-marginSm);
        }

        &__status {
          position: absolute;
          top: var(--echo-theme-spacing-sm);
          right: var(--echo-theme-spacing-sm);
        }

        &__cta {
          display: flex;
          justify-content: flex-end;
          gap: var(--echo-theme-spacing-lg);

          & button {
            max-width: 180px;
            height: 36px;
          }
        }

        &__ai__container {
          position: relative;

          #show-ai-textarea {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 44px;

            justify-content: unset;
            padding: 0 16px;
            box-shadow: none;
            border: 1px solid var(--echo-theme-colors-lightGrey2);
          }

          #show-ai-textarea.translate__main__selected-file__ai__container__btn {
            border-bottom: none;
          }
        }
      }
    }

    &__delete-modal {
      display: flex;
      flex-direction: column;
      gap: var(--echo-theme-spacing-lg);
      align-items: center;
      max-width: 500px;
      padding: var(--echo-theme-spacing-paddingXl);
      background-color: var(--echo-theme-colors-background);
      box-shadow: var(--echo-theme-shadows-shadowActive);
      border-radius: var(--echo-theme-borderRadius-medium);

      &__body {
        display: flex;
        flex-direction: column;
        gap: var(--echo-theme-spacing-md);
        align-items: center;

        &__text-container {
          &__text {
            text-align: center;
          }
        }
      }

      &__cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--echo-theme-spacing-md);

        width: 80%;
      }
    }
  }
}
