:host {
  display: flex;
  flex-direction: column;
  gap: var(--lokey-theme-spacing-lg);

  & .translate {
    display: flex;
    flex-direction: column;
    gap: var(--lokey-theme-spacing-xl);

    & .hide {
      visibility: hidden;
      pointer-events: none;
    }

    &__checkbox {
      color: var(--lokey-theme-colors-textSecondary);
      cursor: pointer;
    }

    &__page-title {
      padding: 0 var(--lokey-theme-borderRadius-medium);

      &__text {
        text-transform: unset;
      }
    }

    &__main {
      display: grid;
      align-items: flex-start;
      grid-template-columns: 1fr max-content 1fr;
      gap: var(--lokey-theme-spacing-xxl);

      & .textarea {
        width: 100%;
        max-width: 100%;
        min-width: 400px;
        min-height: 150px;
        max-height: 500px;

        cursor: pointer;
        position: relative;

        height: 60px;
        padding: var(--lokey-theme-spacing-sm);
        padding-top: 34px;
        background-color: var(--lokey-theme-colors-background);
        border: 1px solid var(--lokey-theme-colors-lightGrey2);
        border-radius: var(--lokey-theme-borderRadius-small);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &--closed {
          min-height: unset;
          padding-top: unset;
          height: 44px;
        }

        &--ai-opened {
          padding-top: var(--lokey-theme-spacing-xxl);
        }
      }

      &__default-file {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--lokey-theme-spacing-lg);

        &__placeholder {
          position: absolute;
          top: var(--lokey-theme-spacing-sm);
          left: var(--lokey-theme-spacing-sm);
          z-index: 1;
        }

        &__status {
          position: absolute;
          top: var(--lokey-theme-spacing-sm);
          right: var(--lokey-theme-spacing-sm);
          z-index: 1;
        }

        &__cta {
          display: flex;
          justify-content: flex-end;
          gap: var(--lokey-theme-spacing-lg);

          & button {
            max-width: 180px;
            height: 36px;
          }
        }
      }

      &__delete-button {
        all: unset;
      }

      &__selected-file {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--lokey-theme-spacing-lg);

        &__selector {
          position: absolute;
          top: var(--lokey-theme-spacing-sm);
          left: var(--lokey-theme-spacing-sm);

          display: flex;
          align-items: center;
          gap: var(--lokey-theme-spacing-marginSm);
          z-index: 1;
        }

        &__status {
          position: absolute;
          top: var(--lokey-theme-spacing-sm);
          right: var(--lokey-theme-spacing-sm);
        }

        &__cta {
          display: flex;
          justify-content: flex-end;
          gap: var(--lokey-theme-spacing-lg);

          & button {
            max-width: 180px;
            height: 36px;
          }
        }

        &__ai__container {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: var(--lokey-theme-spacing-md);

          #show-ai-textarea {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 44px;

            justify-content: unset;
            padding: 0 16px;
            box-shadow: none;
            border: 1px solid var(--lokey-theme-colors-lightGrey2);
            z-index: 1;
            background-color: white;
          }

          #show-ai-textarea.translate__main__selected-file__ai__container__btn {
            border-bottom: none;
          }
        }
      }
    }

    &__delete-modal {
      display: flex;
      flex-direction: column;
      gap: var(--lokey-theme-spacing-lg);
      align-items: center;
      max-width: 500px;
      padding: var(--lokey-theme-spacing-paddingXl);
      background-color: var(--lokey-theme-colors-background);
      box-shadow: var(--lokey-theme-shadows-shadowActive);
      border-radius: var(--lokey-theme-borderRadius-medium);

      &__body {
        display: flex;
        flex-direction: column;
        gap: var(--lokey-theme-spacing-md);
        align-items: center;

        &__text-container {
          &__text {
            text-align: center;
          }
        }
      }

      &__cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--lokey-theme-spacing-md);

        width: 80%;
      }
    }
  }
}
