/*************************************/
/* BELOW 1344px (Smaller Desktops) */
/*************************************/

@media (max-width: 84em) {
}

/*************************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************************/

@media (max-width: 75em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }
}

/*************************************/
/* BELOW 944px (Tablets) */
/*************************************/

@media (max-width: 59em) {
  html {
    /* 8px */
    font-size: 50%;
  }
}

/*************************************/
/* BELOW 704px (Smaller Tablets) */
/*************************************/

@media (max-width: 44em) {
}

/*************************************/
/* BELOW 550px (Phones) */
/*************************************/

@media (max-width: 34em) {
  html {
    &:has(.auth-container) {
      overflow-y: hidden;
    }
  }
}
