*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  font-family: var(--echo-theme-typography-fontFamily);
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1;
  font-weight: 400;
  font-size: var(--echo-theme-typography-bodySize);
  color: var(--echo-theme-colors-textPrimary);
  background-color: var(--echo-theme-colors-background);
  min-height: 100vh;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  color: var(--echo-theme-colors-textHeader);
}

.link:visited,
.link:link {
  display: inline-block;

  text-decoration: none;
  // color: $grey;

  padding-bottom: 0.3rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  // color: #535358;
  border-bottom: 0.1rem solid transparent;
}
